.phone {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.phone video {
  position: absolute;
  top: 9%;
  left: 10%;
  width: 80%;
  height: 82%;
  object-fit: cover;
  z-index: -1;
}

.phone img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}